* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #36393f;
    text-align: center;
}

header {
    background-color: #323337;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


footer {
    color: white;
    background-color: #323337;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 0;
    left: 0;
}

.box {
    width: 300px;
    height: 100px;
    background-color: #323337;
    border: 3px solid#292a2c;
    margin: auto;
}


.other-link {
    color: white;
    text-decoration-style: dotted;
    text-decoration-color: #848484;
}
.other-link:visited {
    color: white;
}

h1 {
    color: red;
    text-align: center;
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
