* {
    padding: 0;
    margin: 0;
}

main {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}


body {
    background-color: #36393f;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

header {
    background-color: #323337;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


footer {
    color: white;
    background-color: #323337;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    bottom: 0;
    left: 0;
    margin-top: auto;
}

.img { 
    height: 100px;
    width: 100px;
}


.a-wrap {
    display: flex;
    gap: 5px;
    margin: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.box {
    width: 400px;
    height: 100px;
    background-color: #323337;
    border: 3px solid#292a2c;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration-style: dotted;
    text-decoration-color: #848484;
    font-size: 20px;
    flex-direction: column;
}

.box:visited {
    color: white;
}
.other-link {
    color: white;
    text-decoration: none;
}
.other-link:visited {
    color: white;
    text-decoration: none;
}

.the-other-link {
    color: white;
    text-decoration-style: dotted;
    text-decoration-thickness: 2px;
    text-decoration-color: #848484;
}

.the-other-link:visited {
    color: white;
    text-decoration-style: dotted;
    text-decoration-thickness: 2px;
    text-decoration-color: #848484;
}

.boxImg {
    max-width: 300px;
    max-height: 60px;
}

.wipImg {
    max-width: 600px;
    max-height: 600px;
}
.gap {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.gtitle {
    color: red;
    align-items: left;
}



h1 {
    color: red;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
}